.layout {
  display: flex;
  padding: 30px;
  gap: 10px;
}

.sidenav {
  height: 100vh;
  flex: 0 0 max(250px, 20%);
  border-radius: 20px;
  min-width: 250px;
  max-width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #54469b;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}
.sidenav a {
  padding: 12px 20px;
  text-decoration: none;
  font-size: 18px;
  color: #f4f6f8;
  display: block;
  width: 100%;
  text-align: left;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.sidenav a:hover {
  background-color: #4cc8f2;
}

footer {
  margin-top: 50px;
  padding: 20px 0;
  text-align: center;
  color: #bcb1d4;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0;
  margin-left: max(250px, 2%);
  padding: 0;
  background-color: #33346c;
  color: #bcb1d4;
  text-align: center;
}
body h1 {
  padding-top: 20px;
}
body h2 {
  font-style: italic;
  padding-top: 0;
  padding-bottom: 10px;
  font-size: medium;
}

.content {
  max-width: 100%;
  flex: 1;
  border-radius: 30px;
  padding: 0 30px 30px;
  background-color: #061b4f;
  border-radius: 30px;
  text-align: center;
}
.content .content .chart-container {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}
.content h1 {
  color: #bcb1d4;
}
.content h2 {
  color: #4cc8f2;
}
.content h4 {
  color: #061d5d;
}
.content .dataset-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  font-family: Arial, sans-serif;
  padding: 2rem;
  flex-wrap: nowrap;
}
.content .dataset-container .dataset-box {
  flex: 1;
  min-width: 0;
  background-color: #54469b;
  padding: 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  color: #f4f6f8;
}
.content .dataset-container .dataset-box h3 {
  margin-top: 0;
  color: #4cc8f2;
}
.content .dataset-container .dataset-box ul {
  margin: 1rem 0;
  padding-left: 1.25rem;
}
.content .dataset-container .dataset-box ul ul {
  padding-left: 1.25rem;
  margin-top: 0.5rem;
}
.content .dataset-container .dataset-box p {
  margin: 0.5rem 0;
  text-align: justify;
}
.content .dataset-container .dataset-box li {
  text-align: justify;
}
.content table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.content table th,
.content table td {
  padding: 10px;
  border: 1px solid #061b4f;
  background-color: #54469b;
  color: #f4f6f8;
  font-size: small;
}
.content table th {
  color: #061b4f;
}
.content table button {
  background-color: #4cc8f2;
  border: none;
  padding: 8px 12px;
  border-radius: 20px;
  color: #f4f6f8;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.content table button:hover {
  background-color: #bcb1d4;
}
.content a {
  display: inline-block;
  padding: 8px 16px;
  margin: 5px;
  border-radius: 20px;
  background-color: #4cc8f2;
  color: #f4f6f8;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.content a:hover {
  background-color: #bcb1d4;
}
.content input {
  margin: 20px 5px 5px 5px;
  border: none;
  border-radius: 30px;
  padding: 15px 30px;
  font-size: 18px;
}
.content #btn_add_task {
  background-color: #33346c;
  color: #f4f6f8;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.content #btn_add_task:hover {
  background-color: #061d5d;
}
.content #btn_upload_files {
  background-color: #33346c;
  color: #f4f6f8;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 20px 5px 5px 5px;
  border: none;
  border-radius: 30px;
  padding: 15px 30px;
  font-size: 18px;
}
.content #btn_upload_files:hover {
  background-color: #061d5d;
}

.forecast-top,
.forecast-bottom {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}
.forecast-top .forecast-left,
.forecast-bottom .forecast-left {
  flex: 0 0 65%;
  min-width: 400px;
}
.forecast-top .forecast-right,
.forecast-bottom .forecast-right {
  flex: 0 0 30%;
  min-width: 200px;
}

.forecast-bottom {
  align-items: stretch;
}

.overall-forecast-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 220px;
}

.zero-items-box {
  background-color: #54469b;
  color: #f4f6f8;
  padding: 0.75rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: small;
}
.zero-items-box ul {
  padding-left: 1.25rem;
  text-align: left;
}
.zero-items-box li {
  margin-bottom: 5px;
}
.zero-items-box p {
  margin-top: 1rem;
  text-align: left;
}
.zero-items-box a {
  background-color: #4cc8f2;
  color: #f4f6f8;
  padding: 6px 12px;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}
.zero-items-box a:hover {
  background-color: #bcb1d4;
  color: #33346c;
}

.consumption-overview {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}
.consumption-overview .chart-box {
  flex: 1;
  min-width: 190px;
  background-color: #54469b;
  border-radius: 0.75rem;
  padding: 0.3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.consumption-overview .chart-box h2 {
  color: #4cc8f2;
  margin-bottom: 0rem;
}
.consumption-overview .chart-box img {
  max-width: 100%;
}
.consumption-overview .takeaways-box {
  flex: 1;
  min-width: 190px;
  background-color: #54469b;
  border-radius: 0.75rem;
  padding: 0.3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}
.consumption-overview .takeaways-box h2 {
  color: #4cc8f2;
  margin-bottom: 0.5rem;
}
.consumption-overview .takeaways-box ul {
  padding-left: 1.25rem;
  text-align: left;
}
.consumption-overview .takeaways-box ul li {
  margin-bottom: 0.5rem;
}

.consumption-bottom {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}
.consumption-bottom .chart-large {
  flex: 0 0 65%;
  min-width: 380px;
  background-color: #54469b;
  border-radius: 0.75rem;
  padding: 0.3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.consumption-bottom .chart-large h2 {
  color: #4cc8f2;
  margin-bottom: 0.5rem;
}
.consumption-bottom .chart-large img {
  max-width: 100%;
}
.consumption-bottom .chart-small {
  flex: 0 0 31%;
  min-width: 190px;
  background-color: #54469b;
  border-radius: 0.75rem;
  padding: 0.3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.consumption-bottom .chart-small h2 {
  color: #4cc8f2;
  margin-bottom: 0.5rem;
}
.consumption-bottom .chart-small img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }
  .sidenav {
    width: 100%;
    position: relative;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
  }
  .sidenav ul {
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .sidenav li {
    margin: 0;
  }
  .sidenav a {
    padding: 8px 12px;
    font-size: 14px;
    text-align: center;
  }
  body {
    margin-left: 0;
  }
  .content {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
  .dataset-container {
    flex-direction: column;
  }
  .forecast-top,
  .forecast-bottom {
    flex-direction: column;
  }
}/*# sourceMappingURL=styles.css.map */