{% extends 'base.html'%}

{% block head %}
<title>Today's Stack</title>
{% endblock %}

{% block body %}
    <div class="content">
        <h1>Demand Forecasting for Supply Chain Risk Management</h1>

        <h2>Problem Statement</h2>
        <div class="project-objectives">
        <p>In Pharmaceutical supply chains, effective inventory management is difficult due to irregular demand trends across different products. The mismatch in the demand-and-supply in production can lead to overstocking, stockouts and inefficient resource management. One major contribution to this problem is the lack of timely data-backed insights into consumption trends, supplier risks and delays which is necessary to prepare for demand and to make informed inventory decisions. Hence, it is essential to use predictive modelling on updated and current real-world consumption data to support and enhance inventory planning. (Sahab & Oulfarsi, 2024; Stoilov & Stoilova, 2024; Xu & Hasachoo, 2021; Yani & Aamer, 2022) </p>
        </div>

        <h2>Project Objectives</h2>
        <div class="project-objectives">
            <ul>
                <li>To analyze supplier and product risks and patterns in order to support short term inventory management.</li>
                <li>To develop a demand forecasting tool using regression models for upcoming inventory planning to reduce overstocking or stockout.</li>
                <li>To evaluate and compare the performance of the demand predictions models.</li>
            </ul>
        </div>
    </div>

    <div class="content">
        <h2>User Navigation Guide</h2>
            <div class="project-objectives">
                <ul>
                    <li>This is the home page, please navigate to the "Datasets" page to understand the requirements for the data.</li>
                    <br>
                    <li>Next please move to the "Data Entry" page to upload your data for forecasts and dashboards.</li>
                    <br>
                    <li>Uploading may seem to take some time because currently 5 models are being executed for demonstration purposes.</li>
                    <br>
                    <li>Once data is uploaded it will automatically take you to the "Forecasts" page for forecasted demand and model performance.</li>
                    <br>
                    <li>You can then move to the "Consumption & Stock" page to get an overview of the consumption trends and stockout.</li>
                    <br>
                    <li>Next, you can move to the "Supply Chain Risks" page to view supplier risks, expiry risks and inventory updates.</li>
                </ul>
            </div>
    </div>
{% endblock %}